img{
    border: 20px solid rgb(255, 0, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.bd{
    background-color: rgb(121, 177, 190);
    font-size: 60px;
    padding: 15px 20px;
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}
.num{
    color: rgb(255, 0, 119);
    font-weight: bolder;
}
.b{
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.padding{
    padding: 30px 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 238, 0);
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: bold;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s{
    margin-bottom: 50px;
}